.exchangeRate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .exchangeRate__overlayer {
        width: 2000px;
        position: absolute;
        left: 50%;
        top: 40%;
        background-color: white;
        opacity: 0.5;
        filter: blur(13px);
        transform: translate(-50%, -50%);

        height: 500px;
    }

    .exchangeRate__container {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        z-index: 10000;
        background-color: rgba($orangeMainColor, $alpha: 0.95);
        border-radius: 50px;
        padding: 35px;


        .exchangeRate__header {
            @include fluid-type(23px, 40px);
            color: #ffffff;
            z-index: 100000;
            margin: 30px 0 30px 0;

        }


        .exchangeRate-body {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 100;

            .exchangeRate-body__enterValue-items {
                .exchangeRate-body__enter-value {
                    padding: 5px;
                    width: 400px;
                    outline: none;
                    margin-bottom: 15px;
                    font-size: 18px;
                    font-weight: 600;
                    border: none;
                    border-radius: 15px;
                    padding-left: 15px;

                }

                .exchangeRate-body__mainCurrency {
                    @include fluid-type(15px, 23px);
                    color: #fff;
                }
            }


            .exchangeRate-body__currency-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;

                .exchangeRate-body__selectCurrency {
                    @include fluid-type(15px, 28px);
                    font-size: 36px;
                    cursor: pointer;
                    margin: 0 10px 0 10px;
                    border-radius: 30px;

                }



                .exchangeRate-body__swaper {
                    @include fluid-type(15px, 28px);
                    font-size: 36px;
                    cursor: pointer;
                    border-radius: 3px;

                }

            }

            .exchangeRate-body__rate-info {
                color: #ffffff;
                @include fluid-type(23px, 40px);
            }

            .exchangeRate-body__exchangeCurrency {
                margin: 10px 0 10px 0;
                @include fluid-type(15px, 23px);
                font-size: 36px;
                cursor: pointer;
            }



        }
    }


}