.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    .homePage__container {
        width: 45%;
        height: 75%;


        .homePage__informations {
            background-color: rgba(255, 255, 255, 0.6);
            text-align: center;

            .homePage__information {

                padding: 0 0 20px;
                @include fluid-type(20px, 30px);

            }

            .homePage__heading {

                padding: 10px 0 30px 0;
                @include fluid-type(40px, 45px);
                font-weight: 600;

            }

        }
    }
}