.manageFinances {


    padding: 0 45px 55px 45px;
    display: flex;
    position: relative;




    @media(max-height: 750px) {
        height: 100%;
        background: url('../image/Pig.jpg') center center;
        background-position: 11% 85%;

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.089);
        }
    }










    .manageFinances-overlayer {
        top: 0;
        left: 0;
        z-index: 10;
        background: white;
        opacity: 0.9;
        width: 100%;
        height: 100vh;
        position: absolute;
        filter: blur(130px);
    }



    .managefinances__topContainer {
        border: 2px solid $orangeMainColor;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.2);
        width: 430px;
        height: 800px;
        background-color: $orangeMainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 5;

        @media(max-width:925px) {

            width: 330px;
        }


        @media(max-width: 700px) {
            position: absolute;
            top: 0;
            left: 0;
            height: 250px;
            width: 100%;


        }

        .manageFinances__allFinances {

            font-size: 42px;
            padding: 15px 0px 15px 5px;
            text-align: center;
            color: #ffffff;
            margin: 20px 0 50 0;

            @media(max-width:925px) {
                margin: 5px 0 0 0;
                font-size: 35px;
            }





        }

        .manageFinances__sumOfAllFinances {
            font-size: 110px;
            padding: 5px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            font-weight: 600;
            margin: 5px;
            max-width: 400px;
            overflow-x: scroll;

            @media(max-width:925px) {
                font-size: 90px;
            }

            @media(max-width: 700px) {
                font-size: 80px;
                padding: 5px 10px;
                max-width: 100%;
                font-size: 70px;
                overflow: hidden;

            }

        }

        .controlsTransaction {
            display: flex;

            flex-direction: column;
            margin: 100px 0 0 0;
            justify-content: center;
            align-items: center;

            @media(max-width: 700px) {
                flex-direction: row;
                margin: 10px 0 0 0;
            }


            .controlsTransaction__addDeleteTransaction {
                font-size: 25px;
                width: 333px;
                margin: 20px 0 10px 0;

                @media(max-width:925px) {
                    width: 233px;
                    font-size: 20px;
                }

                @media(max-width: 700px) {
                    font-size: 15px;
                    padding: 5px 10px;
                    width: auto;
                }

            }
        }
    }

    .transaction-list {

        padding: 5px 0 15px 0;
        position: relative;
        height: 800px;


        @media(max-width: 700px) {
            width: 100%;
        }



        .transaction-list__h3 {
            @include fluid-type(25px, 40px);
            text-align: center;
            margin: 10px 0 0 0;

        }

        .transaction-list__container {

            @media(max-width: 700px) {
                width: 300px;

                display: flex;
                flex-direction: column;

                justify-content: center;

            }



            .transaction-list__container__items {
                height: 300px;
                overflow-y: scroll;

                @media(max-width: 700px) {
                    height: 140px;
                    padding-left: 15px;
                }



                .transaction-list__item {
                    display: flex;


                    .transaction-list__textAndAmount {
                        @include fluid-type(15px, 23px);
                        padding: 5px 0 5px 0;

                        .transaction-list__amount {
                            font-weight: 600;

                        }
                    }

                    .transaction-list__control {
                        margin-left: 8px;
                        padding: 0 5px 0 5px;
                        background: none;
                        color: $orangeMainColor;
                        font-weight: 800;

                    }
                }
            }
        }

        .income {
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.55);
            border: 2px solid $orangeMainColor;
            border-radius: 50px;
            position: absolute;
            top: 0;
            left: 20px;
            height: 390px;
            width: 430px;
            padding: 0 20px 0 20px;

            @media(max-width:925px) {
                width: 300px;
            }

            @media(max-width: 700px) {
                position: absolute;
                left: 50%;
                top: 51%;
                transform: translate(-50%, -50%);
                margin: 0 30px 0 0;
                padding: 0 15px 0 0;
                width: 400px;
                height: 250px;
            }

            @media(max-width: 415px) {
                width: 333px;

            }



        }

        .expenses {
            background-color: rgba(255, 255, 255, 0.55);
            border: 2px solid $orangeMainColor;
            border-radius: 50px;
            position: absolute;
            top: 51.25%;
            left: 20px;
            height: 390px;
            width: 430px;
            padding: 0 20px 0 20px;

            @media(max-width:925px) {
                width: 300px;
            }

            @media(max-width: 700px) {
                position: absolute;
                left: 50%;
                top: 85%;
                transform: translate(-50%, -50%);
                margin: 0 30px 0 0;
                padding: 0 15px 0 0;
                width: 400px;
                height: 250px;
            }

            @media(max-width: 415px) {
                width: 333px;

            }






        }

    }


    .manageFinances-overlayer {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: white;
        opacity: 0.9;
        filter: blur(13px);
        transform: translate(-50%, -50%);
        z-index: 100;
        margin: 0;

        @media(max-width: 800px) {
            top: 30%;
        }

    }




    .AddTransactionPanel-box {

        .AddTransactionPanel {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($orangeMainColor, 0.9);
            border-radius: 50px;
            color: #ffffff;
            z-index: 10000;
            padding: 30px;


            @media(max-width: 800px) {
                top: 30%;
            }


            .AddTransactionPanel__h3 {
                text-align: center;
                @include fluid-type(23px, 43px);
                margin: 17px;

                @media(max-width: 1100px) {
                    @include fluid-type(23px, 39px);

                }


            }

            .AddTransactionPanel__container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .manageFinancesControl {
                    font-size: 1.5em;
                    margin: 20px 5px 0 5px;

                    @media(max-width: 800px) {
                        font-size: 1.3em;
                    }

                    @media(max-width: 600px) {
                        font-size: 1em;

                    }
                }

                .AddTransactionPanel__label {
                    @include fluid-type(20px, 33px);
                    padding-bottom: 5px;
                }

                small {
                    @include fluid-type(10px, 17px);
                    max-width: 600px;
                    padding-bottom: 3px;
                }

                .AddTransactionPanel__input {
                    width: 400px;
                    margin-bottom: 5px;
                    font-weight: 600;
                    border-radius: 15px;
                    padding: 5px 5px 5px 15px;
                    outline: none;

                    @media(max-width: 500px) {
                        width: 300px;
                    }
                }

                .amount {
                    margin-top: 25px;
                }
            }
        }
    }
}


::-webkit-scrollbar {
    width: 7px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
    background-color: rgba(214, 103, 24, .8);
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: rgba(214, 103, 24, .8);
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(214, 103, 24, .8);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    height: 50px;
    background-color: rgba(214, 103, 24, .8);
    border-radius: 3px;
}